* {
  font-family: 'Monoton';
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 800px;
  align-items: center;
}

 .play-drums , .power-btn, .volume, .bank-btn {
  cursor: pointer;
}

.inside-machine {
  display: grid;
  grid-template-rows: 40px 40px 40px 40px;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.drumPad {
  display: grid;
  grid-template-columns: 80px 80px  80px;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
}
.drum-pad {
  background-color: rgb(217, 27, 27);
  box-shadow: 5px 5px 7px;
  border: none;
  border-radius: 5px;
  color: black;
  width: 100px;
  height: 60px;
}
.active {
  background-color: black;
  color: gold;
  padding-right: 10px;

}
.App {
  text-align: center;
  width: 680px;
  height: 330px;
  background-color: gold;
  border-radius: 8px ;
  box-shadow: -1px -1px 10px 7px rgb(152, 28, 28),-1px -1px 10px 7px gold ;
  
}
.inside-app {
  display: grid;
  grid-template-columns: 300px 300px;
  height: 200px;
  column-gap: 17px;
  justify-content: center;
  
}
input {
  margin: 0;
}
.display {
  border-radius: 8px;
  margin: 0;
  height: 30px;
}
.app , .power , .volume, .bank, .display {
  display: flex;
  justify-content: center;
  align-items: center;
}
.power-btn, .bank-btn, .display, #volume-control {
background-color: black;
color: gold;
border: none;
margin: 0 0 0 10px;
border-radius: 4px;
}
.power-btn {
  width: 50px;
  height: 30px;
}
.bank-btn {
width: 100px;
height: 40px;
}
#volume-control {
  -webkit-appearance: none; 
  width: 200px; 
  height: 8px; 
  background: #000; 
  outline: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background 0.3s ease; 
}
#volume-control::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none; 
  width: 5px; 
  height: 25px; 
  border-radius: 5px; 
  background: red; 
  cursor: pointer; 
  transition: background 0.3s ease; 
}